<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nxp.activentag5i2c">

    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- NFC Permissions -->
    <uses-permission android:name="android.permission.NFC"/>

    <!-- Other Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>


        <activity
            android:name=".activities.PassThroughActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activities.BaseActionBarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity android:name=".activities.LoginActivity" />

        <activity android:name=".activities.ChangePasswordActivity" />

        <activity android:name=".activities.ReadSramActivity" />

        <activity android:name=".activities.MachineMenuActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.ValueAdjustActivity" />
        <activity android:name=".activities.ToggleActivity" />
        <activity android:name=".activities.ReadNFCSettingsActivity" />


    </application>

</manifest>